*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: var(--layout-min-width);
  text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

body,
button,
input,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#root {
  min-height: 100vh;
}
